@import "../modulos/variables";
@import "../modulos/medias";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body_loguin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  height: 100%;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  .header_loguin {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo_shadow {
      width: 220px;
      height: 100px;
    }
    .h1_ingreso {
      font-size: 1.5rem;
      margin-bottom: 10px;
      margin-top: 10px;
      color: white;
    }
  }
  .main_loguin {
    background-image: url("../../assets/images/fondo_loguin.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;

    .div_form {
      background-image: linear-gradient(black);
      backdrop-filter: blur(5px);
      width: 600px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      text-align: center;
      padding: 40px;
      box-shadow: 0px 0px 20px white;
      border-radius: 5px;
      .icono_loguin {
        width: 100px;
        height: 100px;
        background-color: $color-grisclarisimo_paleta;
        border-radius: 50%;
        margin-top: 20px;
        padding: 5px;
      }
      .input_text {
        width: 90%;
        padding: 5px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        &:focus {
          outline: none;
          box-shadow: 0px 0px 30px 10px $color-bordo-claro-paleta;
        }
      }

      #boton_ingresar {
        background-color: $color-bordo-claro-paleta;
        width: 90%;
        border: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 20px;
        padding: 20px;
        &:hover {
          background-color: $color-gris-oscuro-paleta;
          cursor: pointer;
          box-shadow: 0px 0px 20px $color-gris-claro-paleta;
          color: $color-gris-claro-paleta;
        }
      }
      a {
        color: white;
      }
    }
  }

  .footer_loguin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 40px;
    padding-top: 10px;
  }
  .icono_instagram {
    width: 50px;
    height: 50px;
  }
}
