@import "../modulos/mixin";
@import "../modulos/inicio";

.mainservicios {
    width: 100%;
    background-color: black;
    grid-area: main;
    color: white;
    font-family: "Quicksand-variables";
    @include flexbox (column, wrap, center, center,);
   
    section {
        
        @include flexbox (row, wrap, space-around, center,);
        border-radius: 10px;
        margin: 10px;
        
            
        div {
            width: 60%;
            h2 {
                color: $color-rojo-paleta;
                margin-top: 10px;
                margin-bottom: 20px;
                text-align: center;
                font-weight: bold;
            }  

            p { 
            padding-left: 10px;
            text-align: justify;
            font-size: 1.2rem;
            }
        }    
        a {
            background-color:$color-bordo-claro-paleta;
            color: white;
            border: 1px solid black;
            text-decoration:none;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 15px 50px;
            
            
            &:hover { 
                  background-color: $color-gris-oscuro-paleta;
                }
            }   
        }
    
    }

    .sectionservicios1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.788)), url(../assets/images/entrenamiento_presencial.webp);
        background-size:cover;
        
    }
    .sectionservicios2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.788)), url(../assets/images/entrenamiento_online.webp);
        background-size:cover;
    }
    .sectionservicios3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.788),rgba(0, 0, 0, 0.788)), url(../assets/images/tienda_de_rutinas_servicios.webp);
        background-size:cover;
    }