$color-fondo-textos: #1d2129c1;
$color-rojo-paleta: #e5383b; 
$color-grisclarisimo_paleta: #f5f3f4;
$color-gris-claro-paleta: #d3d3d3;
$color-gris-medioscuro-paeta: #b1a7a6;
$color-gris-oscuro-paleta:#161a1d;
$colo-bordo-oscuro-paleta: #660708;
$color-bordo-claro-paleta: #a4161a;
$fuente-pagina: "Quicksand-variables";


